<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net461" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>