<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Emulators>
    <!-- If you are using new Mupen, update the following entry. -->
    <Emulator name="Mupen 5.0 RR" processName="mupen64" ramStart="0x0050B110" endianness="little"/>
    
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rerecording" ramStart="0x008EBA80" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-screen-recording" ramStart="0x004FA6F0" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-pucrash" ramStart="0x00912300" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64_lua" ramStart="0x00888F60" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-wiivc" ramStart="0x00901920" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-RTZ" ramStart="0x00901920" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rerecording-v2-reset" ramStart="0x008ECA90" endianness="little"/>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rrv8-avisplit" ramStart="0x008ECBB0" endianness="little"/>

    <Emulator name="Nemu64 0.8" processName="Nemu64" ramStart="0x10020000" endianness="little"/>
    <Emulator name="BizHawk" processName="EmuHawk" offsetDll="mupen64plus.dll" ramStart="0x6A1C0" endianness="little"/>
    <Emulator name="Project64 Debugger 2.4.0.9999" processName="Project64d" ramStart="0x20000000" endianness="little"/>
    <Emulator name="Project64" processName="Project64" ramStart="0x4BAF0000" endianness="little"/>
    <Emulator name="Dolphin" processName="Dolphin" ramStart="0xe6a180" endianness="big" special="dolphin"/>
    <Emulator name="Mupen64Plus" processName="mupen64plus" ramStart="0x008FF142" endianness="little"/>
  </Emulators>

  <!-- US, JP, or SH -->
  <RomVersion>US</RomVersion>

  <RefreshRateFreq>30</RefreshRateFreq>
</Config>
