<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Emulators>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rerecording" ramStart="0x008EBA80"/>
    <Emulator name="Nemu64 0.8" processName="Nemu64" ramStart="0x10020000"/>
  </Emulators>
  <RefreshRateFreq>30</RefreshRateFreq>
  <RamSize>0x400000</RamSize>
  <ObjectSlots>
    <FirstObjectAddressUS>0x8033D488</FirstObjectAddressUS>
    <FirstObjectAddressJP>0x8033C118</FirstObjectAddressJP>
    <ObjectStructSize>0x0260</ObjectStructSize>
    <HeaderOffset>0x00</HeaderOffset>
    <ListNextLinkOffset>0x08</ListNextLinkOffset>
    <ListPreviousLinkOffset>0x04</ListPreviousLinkOffset>
    <ParentOffset>0x68</ParentOffset>
    <UnusedSlotAddress>0x80360E88</UnusedSlotAddress>
    <BehaviorScriptOffset>0x020C</BehaviorScriptOffset>
    <BehaviorGfxOffset>0x14</BehaviorGfxOffset>
    <BehaviorSubtypeOffset>0x0144</BehaviorSubtypeOffset>
    <BehaviorAppearance>0xF0</BehaviorAppearance>
    <ObjectActiveOffset>0x74</ObjectActiveOffset>
    <AnimationOffset>0x3C</AnimationOffset>
    <MarioGraphic>0x800F0860</MarioGraphic>
    <CoordinateOffsetX>0xA0</CoordinateOffsetX>
    <CoordinateOffsetY>0xA4</CoordinateOffsetY>
    <CoordinateOffsetZ>0xA8</CoordinateOffsetZ>
    <HomeOffsetX>0x164</HomeOffsetX>
    <HomeOffsetY>0x168</HomeOffsetY>
    <HomeOffsetZ>0x16C</HomeOffsetZ>
    <RotationOffset>0xD4</RotationOffset>
    <MaxObjectSlots>240</MaxObjectSlots>
    <HitboxRadius>0x1f8</HitboxRadius>
    <HitboxHeight>0x1fc</HitboxHeight>
    <HitboxDownOffset>0x208</HitboxDownOffset>
    <YawFacingOffset>0xD6</YawFacingOffset>
    <PitchFacingOffset>0xD2</PitchFacingOffset>
    <RollFacingOffset>0xDA</RollFacingOffset>
    <YawMovingOffset>0xCA</YawMovingOffset>
    <PitchMovingOffset>0xC6</PitchMovingOffset>
    <RollMovingOffset>0xCE</RollMovingOffset>
    <ScaleWidthOffset>0x2C</ScaleWidthOffset>
    <ScaleHeightOffset>0x30</ScaleHeightOffset>
    <ScaleDepthOffset>0x34</ScaleDepthOffset>
    <ReleaseStatusOffset>0x1CC</ReleaseStatusOffset>
    <StackIndexOffset>0x1D0</StackIndexOffset>
    <StackIndexReleasedValue>0</StackIndexReleasedValue>
    <StackIndexUnReleasedValue>1</StackIndexUnReleasedValue>
    <InitialReleaseStatusOffset>0x1D4</InitialReleaseStatusOffset>
    <ReleaseStatusThrownValue>0x800EE5F8</ReleaseStatusThrownValue>
    <ReleaseStatusDroppedValue>0x800EE5F0</ReleaseStatusDroppedValue>
    <InteractionStatusOffset>0x134</InteractionStatusOffset>
    
    <PendulumAccelerationDirection>0xF4</PendulumAccelerationDirection>
    <PendulumAccelerationMagnitude>0x100</PendulumAccelerationMagnitude>
    <PendulumAngularVelocity>0xFC</PendulumAngularVelocity>
    <PendulumAngle>0xF8</PendulumAngle>

    <WaypointOffset>0x100</WaypointOffset>
    <PitchToWaypointOffset>0x10A</PitchToWaypointOffset>
    <RacingPenguinEffortOffset>0x110</RacingPenguinEffortOffset>
    <KoopaTheQuickHSpeedMultiplierOffset>0xF4</KoopaTheQuickHSpeedMultiplierOffset>
  </ObjectSlots>
  <ObjectGroups>
    <ProcessNextLinkOffset>0x60</ProcessNextLinkOffset>
    <ProcessPreviousLinkOffset>0x64</ProcessPreviousLinkOffset>
    <ParentObjectOffset>0x68</ParentObjectOffset>
    <FirstObjectGroupingAddressUS>0x8033CBE0</FirstObjectGroupingAddressUS>
    <FirstObjectGroupingAddressJP>0x8033B870</FirstObjectGroupingAddressJP>
    <ProcessGroupStructSize>0x68</ProcessGroupStructSize>
    <ProcessGroupsOrdering>
      <Group index ="0x0B" color="#FF00A5"/>
      <Group index ="0x09" color="#FF0000"/>
      <Group index ="0x0A" color="#FF5400"/>
      <Group index ="0x00" color="#FFA100"/>
      <Group index ="0x05" color="#FFF600"/>
      <Group index ="0x04" color="#10FF00"/>
      <Group index ="0x02" color="#00FFE9"/>
      <Group index ="0x06" color="#0015FF"/>
      <Group index ="0x08" color="#8000FF"/>
      <Group index ="0x0C" color="#FF00FF"/>
    </ProcessGroupsOrdering>
    <VacantPointerAddressUS color="#AAAAAA">0x80361150</VacantPointerAddressUS>
    <VacantPointerAddressJP color="#AAAAAA">0x80361150</VacantPointerAddressJP>
  </ObjectGroups>
  <Mario>
    <MarioStructAddressUS>0x8033B170</MarioStructAddressUS>
    <MarioStructAddressJP>0x80339E00</MarioStructAddressJP>
    <ActionOffset>0x0C</ActionOffset>
    <PrevActionOffset>0x10</PrevActionOffset>
    <CoordinateOffsetX>0x3C</CoordinateOffsetX>
    <CoordinateOffsetY>0x40</CoordinateOffsetY>
    <CoordinateOffsetZ>0x44</CoordinateOffsetZ>
    <FacingAngleOffset>0x2A</FacingAngleOffset>
    <YawFacingOffset>0x2E</YawFacingOffset>
    <YawIntendedOffset>0x24</YawIntendedOffset>
    <StandingOnPointer>0x80330E34</StandingOnPointer>
    <InteractionObjectPointerOffset>0x78</InteractionObjectPointerOffset>
    <HeldObjectPointerOffset>0x7C</HeldObjectPointerOffset>
    <UsedObjectPointerOffset>0x80</UsedObjectPointerOffset>
    <CeilingYOffset>0x6C</CeilingYOffset>
    <GroundYOffset>0x70</GroundYOffset>
    <FloorTriangleOffset>0x68</FloorTriangleOffset>
    <WallTriangleOffset>0x60</WallTriangleOffset>
    <CeilingTriangleOffset>0x64</CeilingTriangleOffset>
    <HSpeedOffset>0x54</HSpeedOffset>
    <VSpeedOffset>0x4C</VSpeedOffset>
    <MarioStructSize>0xC4</MarioStructSize>
    <SlidingSpeedXOffset>0x58</SlidingSpeedXOffset>
    <SlidingSpeedZOffset>0x5C</SlidingSpeedZOffset>
    <PeakHeightOffset>0xBC</PeakHeightOffset>
    <ObjectReferenceAddress>0x80361158</ObjectReferenceAddress>
    <ObjectAnimationOffset>0x38</ObjectAnimationOffset>
    <ObjectAnimationTimerOffset>0x40</ObjectAnimationTimerOffset>
    <HOLPXOffset>0x258</HOLPXOffset>
    <HOLPYOffset>0x25C</HOLPYOffset>
    <HOLPZOffset>0x260</HOLPZOffset>
  </Mario>
  <Hud>
    <HpAddress>0x8033B21e</HpAddress>
    <LiveCountAddress>0x8033B21D</LiveCountAddress>
    <CoinCountAddress>0x8033B218</CoinCountAddress>
    <StarCountAddress>0x8033B21A</StarCountAddress>
    <DisplayHpAddress>0x8033B266</DisplayHpAddress>
    <DisplayLiveCountAddress>0x8033B260</DisplayLiveCountAddress>
    <DisplayCoinCountAddress>0x8033B262</DisplayCoinCountAddress>
    <DisplayStarCountAddress>0x8033B264</DisplayStarCountAddress>
    <FullHp>2176</FullHp>
    <FullHpInt>8</FullHpInt>
    <StandardLives>4</StandardLives>
    <StandardCoins>0</StandardCoins>
    <StandardStars>120</StandardStars>
  </Hud>
  <Debug>
    <AdvancedModeAddress>0x8033D263</AdvancedModeAddress>
    <SettingAddress>0x80330E94</SettingAddress>
    <SpawnModeAddress>0x8033D2DF</SpawnModeAddress>
    <ClassicModeAddress>0x8032D598</ClassicModeAddress>
    <ResourceModeAddress>0x8032D594</ResourceModeAddress>
    <StageSelectAddress>0x8032D58C</StageSelectAddress>
    <FreeMovementAddress>0x80269BD8</FreeMovementAddress>
    <FreeMovementValue>0x0C095FAB</FreeMovementValue>
  </Debug>
  <TriangleOffsets>
    <surfaceType>0x00</surfaceType>
    <flags>0x02</flags>
    <windDirection>0x03</windDirection>
    <wallProjection>0x04</wallProjection>
    <yMin>0x06</yMin>
    <yMax>0x08</yMax>
    <x1>0x0A</x1>
    <y1>0x0C</y1>
    <z1>0x0E</z1>
    <x2>0x10</x2>
    <y2>0x12</y2>
    <z2>0x14</z2>
    <x3>0x16</x3>
    <y3>0x18</y3>
    <z3>0x1A</z3>
    <normX>0x1C</normX>
    <normY>0x20</normY>
    <normZ>0x24</normZ>
    <offset>0x28</offset>
    <associatedObject>0x2C</associatedObject>
  </TriangleOffsets>
  <Camera>
    <CameraStructAddress>0x8033C618</CameraStructAddress>
    <XOffset>0x8C</XOffset>
    <YOffset>0x90</YOffset>
    <ZOffset>0x94</ZOffset>
    <FocusXOffset>0x80</FocusXOffset>
    <FocusYOffset>0x84</FocusYOffset>
    <FocusZOffset>0x88</FocusZOffset>
    <YawFacingOffset>0xCE</YawFacingOffset>
    <SecondObjectAddress>0x8032DF30</SecondObjectAddress>
  </Camera>
  <Input>
    <BufferedInput>0x80367054</BufferedInput>
    <CurrentInput>0x8033AFF8</CurrentInput>
    
    <ButtonAOffset>0x00</ButtonAOffset>
    <ButtonBOffset>0x00</ButtonBOffset>
    <ButtonZOffset>0x00</ButtonZOffset>
    <ButtonStartOffset>0x00</ButtonStartOffset>
    <ButtonROffset>0x01</ButtonROffset>
    <ButtonLOffset>0x01</ButtonLOffset>
    <ButtonCUpOffset>0x01</ButtonCUpOffset>
    <ButtonCDownOffset>0x01</ButtonCDownOffset>
    <ButtonCLeftOffset>0x01</ButtonCLeftOffset>
    <ButtonCRightOffset>0x01</ButtonCRightOffset>
    <ButtonDUpOffset>0x00</ButtonDUpOffset>
    <ButtonDDownOffset>0x00</ButtonDDownOffset>
    <ButtonDLeftOffset>0x00</ButtonDLeftOffset>
    <ButtonDRightOffset>0x00</ButtonDRightOffset>
    <ControlStickHOffset>0x02</ControlStickHOffset>
    <ControlStickVOffset>0x03</ControlStickVOffset>

    <ButtonAMask>0x80</ButtonAMask>
    <ButtonBMask>0x40</ButtonBMask>
    <ButtonZMask>0x20</ButtonZMask>
    <ButtonStartMask>0x10</ButtonStartMask>
    <ButtonRMask>0x10</ButtonRMask>
    <ButtonLMask>0x20</ButtonLMask>
    <ButtonCUpMask>0x08</ButtonCUpMask>
    <ButtonCDownMask>0x04</ButtonCDownMask>
    <ButtonCLeftMask>0x02</ButtonCLeftMask>
    <ButtonCRightMask>0x01</ButtonCRightMask>
    <ButtonDUpMask>0x08</ButtonDUpMask>
    <ButtonDDownMask>0x04</ButtonDDownMask>
    <ButtonDLeftMask>0x02</ButtonDLeftMask>
    <ButtonDRightMask>0x01</ButtonDRightMask>
  </Input>
  <File>
    <FileStructAddressUS>0x80207700</FileStructAddressUS>
    <FileStructAddressJP>0x80207B00</FileStructAddressJP>
    <FileStructSize>0x38</FileStructSize>
    
    <ChecksumConstantOffset>0x34</ChecksumConstantOffset>
    <ChecksumConstantValue>0x4441</ChecksumConstantValue>
    <ChecksumOffset>0x36</ChecksumOffset>

    <CourseStarsOffsetStart>0x0C</CourseStarsOffsetStart>
    <TotWCStarOffset>0x20</TotWCStarOffset>
    <CotMCStarOffset>0x1F</CotMCStarOffset>
    <VCutMStarOffset>0x21</VCutMStarOffset>
    <PSSStarsOffset>0x1E</PSSStarsOffset>
    <SAStarOffset>0x23</SAStarOffset>
    <WMotRStarOffset>0x22</WMotRStarOffset>
    <BitDWStarOffset>0x1B</BitDWStarOffset>
    <BitFSStarOffset>0x1C</BitFSStarOffset>
    <BitSStarOffset>0x1D</BitSStarOffset>
    <ToadMIPSStarsOffset>0x08</ToadMIPSStarsOffset>

    <MainCourseCannonsOffsetStart>0x0D</MainCourseCannonsOffsetStart>
    <WMotRCannonOffset>0x23</WMotRCannonOffset>
    <CannonMask>0x80</CannonMask>

    <WFDoorOffset>0x0A</WFDoorOffset>
    <JRBDoorOffset>0x0A</JRBDoorOffset>
    <CCMDoorOffset>0x0A</CCMDoorOffset>
    <PSSDoorOffset>0x0A</PSSDoorOffset>
    <BitDWDoorOffset>0x0A</BitDWDoorOffset>
    <BitFSDoorOffset>0x0A</BitFSDoorOffset>
    <BitSDoorOffset>0x09</BitSDoorOffset>

    <WFDoorMask>0x08</WFDoorMask>
    <JRBDoorMask>0x20</JRBDoorMask>
    <CCMDoorMask>0x10</CCMDoorMask>
    <PSSDoorMask>0x04</PSSDoorMask>
    <BitDWDoorMask>0x40</BitDWDoorMask>
    <BitFSDoorMask>0x80</BitFSDoorMask>
    <BitSDoorMask>0x10</BitSDoorMask>

    <CoinScoreOffsetStart>0x25</CoinScoreOffsetStart>

    <FileStartedOffset>0x0B</FileStartedOffset>
    <FileStartedMask>0x01</FileStartedMask>
    <CapSwitchPressedOffset>0x0B</CapSwitchPressedOffset>
    <RedCapSwitchMask>0x02</RedCapSwitchMask>
    <GreenCapSwitchMask>0x04</GreenCapSwitchMask>
    <BlueCapSwitchMask>0x08</BlueCapSwitchMask>
    <KeyDoorOffset>0x0B</KeyDoorOffset>
    <KeyDoor1KeyMask>0x10</KeyDoor1KeyMask>
    <KeyDoor1OpenedMask>0x40</KeyDoor1OpenedMask>
    <KeyDoor2KeyMask>0x20</KeyDoor2KeyMask>
    <KeyDoor2OpenedMask>0x80</KeyDoor2OpenedMask>
    <MoatDrainedOffset>0x0A</MoatDrainedOffset>
    <MoatDrainedMask>0x02</MoatDrainedMask>
    <DDDMovedBackOffset>0x0A</DDDMovedBackOffset>
    <DDDMovedBackMask>0x01</DDDMovedBackMask>

    <HatLocationModeOffset>0x09</HatLocationModeOffset>
    <HatLocationModeMask>0x0F</HatLocationModeMask>
    <HatLocationMarioMask>0x00</HatLocationMarioMask>
    <HatLocationGroundMask>0x01</HatLocationGroundMask>
    <HatLocationKleptoMask>0x02</HatLocationKleptoMask>
    <HatLocationUkikiMask>0x04</HatLocationUkikiMask>
    <HatLocationSnowmanMask>0x08</HatLocationSnowmanMask>

    <HatLocationCourseOffset>0x00</HatLocationCourseOffset>
    <HatLocationCourseSSLValue>0x0801</HatLocationCourseSSLValue>
    <HatLocationCourseSLValue>0x0A01</HatLocationCourseSLValue>
    <HatLocationCourseTTMValue>0x2401</HatLocationCourseTTMValue>

    <HatPositionXOffset>0x02</HatPositionXOffset>
    <HatPositionYOffset>0x04</HatPositionYOffset>
    <HatPositionZOffset>0x06</HatPositionZOffset>
  </File>
  <Waypoint>
    <StructSize>0x08</StructSize>
    <IndexOffset>0x00</IndexOffset>
    <XOffset>0x02</XOffset>
    <YOffset>0x04</YOffset>
    <ZOffset>0x06</ZOffset>
  </Waypoint>
  <CameraHack>
    <CameraHackStruct>0x803E0000</CameraHackStruct>
    <CameraModeOffset>0x00</CameraModeOffset>
    <CameraXOffset>0x04</CameraXOffset>
    <CameraYOffset>0x08</CameraYOffset>
    <CameraZOffset>0x0C</CameraZOffset>
    <FocusXOffset>0x10</FocusXOffset>
    <FocusYOffset>0x14</FocusYOffset>
    <FocusZOffset>0x18</FocusZOffset>
    <AbsoluteAngleOffset>0x1C</AbsoluteAngleOffset>
    <ThetaOffset>0x1E</ThetaOffset>
    <RadiusOffset>0x20</RadiusOffset>
    <RelativeHeightOffset>0x24</RelativeHeightOffset>
    <ObjectOffset>0x28</ObjectOffset>
  </CameraHack>
  <GotoRetrieve>
    <GotoAboveDefault>300</GotoAboveDefault>
    <GotoInfrontDefault>0</GotoInfrontDefault>
    <RetrieveAboveDefault>300</RetrieveAboveDefault>
    <RetrieveInfrontDefault>0</RetrieveInfrontDefault>
  </GotoRetrieve>
  <LevelAddress>0x8033B249</LevelAddress>
  <AreaAddress>0x8033B24A</AreaAddress>
  <LoadingPointAddress>0x8033BACA</LoadingPointAddress>
  <MissionLayoutAddress>0x8033BAC8</MissionLayoutAddress>
  <GlobalTimerAddress>0x8032D5D4</GlobalTimerAddress>
  <RngAddress>0x8038EEE0</RngAddress>
  <HackedAreaAddress>0x803E0000</HackedAreaAddress>
  <DebugAddress></DebugAddress>
  <DebugModeAddress></DebugModeAddress>
</Config>