<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Emulators>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rerecording" ramStart="0x008EBA80"/>
    <Emulator name="Nemu64 0.8" processName="Nemu64" ramStart="0x10020000"/>
  </Emulators>
  <RefreshRateFreq>30</RefreshRateFreq>
  <RamSize>0x400000</RamSize>
  <ObjectSlots>
    <FirstObjectAddress>0x8033D488</FirstObjectAddress>
    <ObjectStructSize>0x0260</ObjectStructSize>
    <HeaderOffset>0x00</HeaderOffset>
    <ListNextLinkOffset>0x08</ListNextLinkOffset>
    <ListPreviousLinkOffset>0x04</ListPreviousLinkOffset>
    <BehaviorScriptOffset>0x020C</BehaviorScriptOffset>
    <BehaviorGfxOffset>0x14</BehaviorGfxOffset>
    <BehaviorSubtypeOffset>0x0144</BehaviorSubtypeOffset>
    <BehaviorAppearance>0xF0</BehaviorAppearance>
    <ObjectActiveOffset>0x74</ObjectActiveOffset>
    <CoordinateOffsetX>0xA0</CoordinateOffsetX>
    <CoordinateOffsetY>0xA4</CoordinateOffsetY>
    <CoordinateOffsetZ>0xA8</CoordinateOffsetZ>
    <HomeOffsetX>0x164</HomeOffsetX>
    <HomeOffsetY>0x168</HomeOffsetY>
    <HomeOffsetZ>0x16C</HomeOffsetZ>
    <RotationOffset>0xD4</RotationOffset>
    <MaxObjectSlots>240</MaxObjectSlots>
    <MoveToMarioYOffset>300</MoveToMarioYOffset>
  </ObjectSlots>
  <ObjectGroups>
    <ProcessNextLinkOffset>0x60</ProcessNextLinkOffset>
    <ProcessPreviousLinkOffset>0x64</ProcessPreviousLinkOffset>
    <ParentObjectOffset>0x68</ParentObjectOffset>
    <FirstObjectGroupingAddress>0x8033CBE0</FirstObjectGroupingAddress>
    <ProcessGroupStructSize>0x68</ProcessGroupStructSize>
    <ProcessGroupsOrdering>
      <Group index ="0x0B" color="#FF00A5"/>
      <Group index ="0x09" color="#FF0000"/>
      <Group index ="0x0A" color="#FF5400"/>
      <Group index ="0x00" color="#FFA100"/>
      <Group index ="0x05" color="#FFF600"/>
      <Group index ="0x04" color="#10FF00"/>
      <Group index ="0x02" color="#00FFE9"/>
      <Group index ="0x06" color="#0015FF"/>
      <Group index ="0x08" color="#8000FF"/>
      <Group index ="0x0C" color="#FF00FF"/>
    </ProcessGroupsOrdering>
    <VacantPointerAddress color="#AAAAAA">0x80361150</VacantPointerAddress>
  </ObjectGroups>
  <Mario>
    <MarioStructAddress>0x8033B170</MarioStructAddress>
    <ActionOffset>0x0C</ActionOffset>
    <PrevActionOffset>0x10</PrevActionOffset>
    <CoordinateOffsetX>0x3C</CoordinateOffsetX>
    <CoordinateOffsetY>0x40</CoordinateOffsetY>
    <CoordinateOffsetZ>0x44</CoordinateOffsetZ>
    <FacingAngleOffset>0x2A</FacingAngleOffset>
    <StandingOnPointer>0x80330E34</StandingOnPointer>
    <InteractingObjectPointerOffset>0x78</InteractingObjectPointerOffset>
    <HoldingObjectPointerOffset>0x7C</HoldingObjectPointerOffset>
    <UsingObjectPointerOffset>0x80</UsingObjectPointerOffset>
    <CeilingYOffset>0x6C</CeilingYOffset>
    <GroundYOffset>0x70</GroundYOffset>
    <FloorTriangleOffset>0x68</FloorTriangleOffset>
    <WallTriangleOffset>0x60</WallTriangleOffset>
    <CeilingTriangleOffset>0x64</CeilingTriangleOffset>
    <HSpeedOffset>0x54</HSpeedOffset>
    <MarioStructSize>0xC4</MarioStructSize>
    <MoveToObjectYOffset>300</MoveToObjectYOffset>
    <SlidingSpeedXOffset>0x58</SlidingSpeedXOffset>
    <SlidingSpeedZOffset>0x5C</SlidingSpeedZOffset>
    <PeakHeightOffset>0xBC</PeakHeightOffset>
  </Mario>
  <Hud>
    <HpAddress>0x8033B21e</HpAddress>
    <LiveCountAddress>0x8033B21C</LiveCountAddress>
    <CoinCountAddress>0x8033B218</CoinCountAddress>
    <StarCountAddress>0x8033B21A</StarCountAddress>
    <DisplayLiveCountAddress>0x8033B260</DisplayLiveCountAddress>
    <DisplayCoinCountAddress>0x8033B262</DisplayCoinCountAddress>
    <DisplayStarCountAddress>0x8033B264</DisplayStarCountAddress>
    <FullHp>2176</FullHp>
    <StandardLives>4</StandardLives>
    <StandardCoins>0</StandardCoins>
    <StandardStars>120</StandardStars>
  </Hud>
  <Debug>
    <ToggleAddress>0x8033D263</ToggleAddress>
    <SettingAddress>0x80330E94</SettingAddress>
  </Debug>
  <TriangleOffsets>
    <surfaceType>0x00</surfaceType>
    <flags>0x02</flags>
    <windDirection>0x03</windDirection>
    <wallProjection>0x04</wallProjection>
    <yMin>0x06</yMin>
    <yMax>0x08</yMax>
    <x1>0x0A</x1>
    <y1>0x0C</y1>
    <z1>0x0E</z1>
    <x2>0x10</x2>
    <y2>0x12</y2>
    <z2>0x14</z2>
    <x3>0x16</x3>
    <y3>0x18</y3>
    <z3>0x1A</z3>
    <normX>0x1C</normX>
    <normY>0x20</normY>
    <normZ>0x24</normZ>
    <offset>0x28</offset>
    <associatedObject>0x2C</associatedObject>
  </TriangleOffsets>
  <HolpX>0x8033B3C8</HolpX>
  <HolpY>0x8033B3CC</HolpY>
  <HolpZ>0x8033B3D0</HolpZ>
  <CameraX>0x8033C6A4</CameraX>
  <CameraY>0x8033C6A8</CameraY>
  <CameraZ>0x8033C6AC</CameraZ>
  <CameraRot>0x8033C6E4</CameraRot>
  <LevelAddress>0x8033B249</LevelAddress>
  <AreaAddress>0x8033B24A</AreaAddress>
  <LoadingPointAddress>0x8033BACA</LoadingPointAddress>
  <MissionLayoutAddress>0x8033BAC8</MissionLayoutAddress>
  <RngAddress>0x8038EEE0</RngAddress>
  <RngRecordingAreaAddress>0x803E0000</RngRecordingAreaAddress>
  <DebugAddress></DebugAddress>
  <DebugModeAddress></DebugModeAddress>
</Config>