<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Emulators>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rerecording" ramStart="0x008EBA80"/>
    <Emulator name="Nemu64 0.8" processName="Nemu64" ramStart="0x10020000"/>
    <Emulator name="BizHawk" processName="EmuHawk" offsetDll="mupen64plus.dll" ramStart="0x691C0"/>
  </Emulators>

  <!-- US, JP, or PAL -->
  <RomVersion>US</RomVersion>

  <RefreshRateFreq>30</RefreshRateFreq>
  <RamSize>0x400000</RamSize>
  <ObjectSlots>
    <FirstObjectAddressUS>0x8033D488</FirstObjectAddressUS>
    <FirstObjectAddressJP>0x8033C118</FirstObjectAddressJP>
    <ObjectStructSize>0x0260</ObjectStructSize>
    <HeaderOffset>0x00</HeaderOffset>
    <ListNextLinkOffset>0x08</ListNextLinkOffset>
    <ListPreviousLinkOffset>0x04</ListPreviousLinkOffset>
    <ParentOffset>0x68</ParentOffset>
    <UnusedSlotAddressUS>0x80360E88</UnusedSlotAddressUS>
    <UnusedSlotAddressJP>0x8035FB18</UnusedSlotAddressJP>
    <BehaviorScriptOffset>0x020C</BehaviorScriptOffset>
    <BehaviorGfxOffset>0x14</BehaviorGfxOffset>
    <BehaviorSubtypeOffset>0x0144</BehaviorSubtypeOffset>
    <BehaviorAppearance>0xF0</BehaviorAppearance>
    <ModelPointerOffset>0x218</ModelPointerOffset>
    <ObjectActiveOffset>0x74</ObjectActiveOffset>
    <TimerOffset>0x154</TimerOffset>
    <AnimationOffset>0x3C</AnimationOffset>
    <MarioGraphic>0x800F0860</MarioGraphic>

    <MarioBehavior>0x13002EC0</MarioBehavior>
    <DustSpawnerBehavior>0x130024AC</DustSpawnerBehavior>
    <DustBallBehavior>0x130024DC</DustBallBehavior>
    <DustBehavior>0x13002500</DustBehavior>

    <CoordinateOffsetX>0xA0</CoordinateOffsetX>
    <CoordinateOffsetY>0xA4</CoordinateOffsetY>
    <CoordinateOffsetZ>0xA8</CoordinateOffsetZ>

    <YSpeedOffset>0xB0</YSpeedOffset>
    <HSpeedOffset>0xB8</HSpeedOffset>

    <HomeOffsetX>0x164</HomeOffsetX>
    <HomeOffsetY>0x168</HomeOffsetY>
    <HomeOffsetZ>0x16C</HomeOffsetZ>
    <RotationOffset>0xD4</RotationOffset>

    <GraphicsOffsetX>0x20</GraphicsOffsetX>
    <GraphicsOffsetY>0x24</GraphicsOffsetY>
    <GraphicsOffsetZ>0x28</GraphicsOffsetZ>
    <GraphicsOffsetYaw>0x1C</GraphicsOffsetYaw>
    <GraphicsOffsetPitch>0x1A</GraphicsOffsetPitch>
    <GraphicsOffsetRoll>0x1E</GraphicsOffsetRoll>

    <MaxObjectSlots>240</MaxObjectSlots>
    <HitboxRadius>0x1f8</HitboxRadius>
    <HitboxHeight>0x1fc</HitboxHeight>
    <HitboxDownOffset>0x208</HitboxDownOffset>

    <YawFacingOffset>0xD6</YawFacingOffset>
    <PitchFacingOffset>0xD2</PitchFacingOffset>
    <RollFacingOffset>0xDA</RollFacingOffset>
    <YawMovingOffset>0xCA</YawMovingOffset>
    <PitchMovingOffset>0xC6</PitchMovingOffset>
    <RollMovingOffset>0xCE</RollMovingOffset>
    <ScaleWidthOffset>0x2C</ScaleWidthOffset>
    <ScaleHeightOffset>0x30</ScaleHeightOffset>
    <ScaleDepthOffset>0x34</ScaleDepthOffset>

    <ReleaseStatusOffset>0x1CC</ReleaseStatusOffset>
    <StackIndexOffset>0x1D0</StackIndexOffset>
    <StackIndexReleasedValue>0</StackIndexReleasedValue>
    <StackIndexUnReleasedValue>1</StackIndexUnReleasedValue>
    <InitialReleaseStatusOffset>0x1D4</InitialReleaseStatusOffset>
    <ReleaseStatusThrownValue>0x800EE5F8</ReleaseStatusThrownValue>
    <ReleaseStatusDroppedValue>0x800EE5F0</ReleaseStatusDroppedValue>
    <InteractionStatusOffset>0x134</InteractionStatusOffset>

    <PendulumAccelerationDirection>0xF4</PendulumAccelerationDirection>
    <PendulumAccelerationMagnitude>0x100</PendulumAccelerationMagnitude>
    <PendulumAngularVelocity>0xFC</PendulumAngularVelocity>
    <PendulumAngle>0xF8</PendulumAngle>

    <WaypointOffset>0x100</WaypointOffset>
    <PitchToWaypointOffset>0x10A</PitchToWaypointOffset>
    <RacingPenguinEffortOffset>0x110</RacingPenguinEffortOffset>
    <KoopaTheQuickHSpeedMultiplierOffset>0xF4</KoopaTheQuickHSpeedMultiplierOffset>

    <FlyGuyOscillationTimerOffset>0xF8</FlyGuyOscillationTimerOffset>

    <ScuttlebugTargetAngleOffset>0x162</ScuttlebugTargetAngleOffset>
  </ObjectSlots>
  <ObjectGroups>
    <ProcessNextLinkOffset>0x60</ProcessNextLinkOffset>
    <ProcessPreviousLinkOffset>0x64</ProcessPreviousLinkOffset>
    <ParentObjectOffset>0x68</ParentObjectOffset>
    <FirstObjectGroupingAddressUS>0x8033CBE0</FirstObjectGroupingAddressUS>
    <FirstObjectGroupingAddressJP>0x8033B870</FirstObjectGroupingAddressJP>
    <ProcessGroupStructSize>0x68</ProcessGroupStructSize>
    <ProcessGroupsOrdering>
      <Group index ="0x0B" color="#FF00A5"/>
      <Group index ="0x09" color="#FF0000"/>
      <Group index ="0x0A" color="#FF5400"/>
      <Group index ="0x00" color="#FFA100"/>
      <Group index ="0x05" color="#FFF600"/>
      <Group index ="0x04" color="#10FF00"/>
      <Group index ="0x02" color="#00FFE9"/>
      <Group index ="0x06" color="#0015FF"/>
      <Group index ="0x08" color="#8000FF"/>
      <Group index ="0x0C" color="#FF00FF"/>
    </ProcessGroupsOrdering>
    <VacantPointerAddressUS color="#AAAAAA">0x80361150</VacantPointerAddressUS>
    <VacantPointerAddressJP color="#AAAAAA">0x8035FDE0</VacantPointerAddressJP>
  </ObjectGroups>
  <Mario>
    <MarioStructAddressUS>0x8033B170</MarioStructAddressUS>
    <MarioStructAddressJP>0x80339E00</MarioStructAddressJP>
    <ActionOffset>0x0C</ActionOffset>
    <PrevActionOffset>0x10</PrevActionOffset>
    <CoordinateOffsetX>0x3C</CoordinateOffsetX>
    <CoordinateOffsetY>0x40</CoordinateOffsetY>
    <CoordinateOffsetZ>0x44</CoordinateOffsetZ>
    <FacingAngleOffset>0x2A</FacingAngleOffset>
    <YawFacingOffset>0x2E</YawFacingOffset>
    <YawIntendedOffset>0x24</YawIntendedOffset>
    <StoodOnObjectPointerUS>0x80330E34</StoodOnObjectPointerUS>
    <StoodOnObjectPointerJP>0x8032FED4</StoodOnObjectPointerJP>
    <InteractionObjectPointerOffset>0x78</InteractionObjectPointerOffset>
    <HeldObjectPointerOffset>0x7C</HeldObjectPointerOffset>
    <UsedObjectPointerOffset>0x80</UsedObjectPointerOffset>
    <CeilingYOffset>0x6C</CeilingYOffset>
    <FloorYOffset>0x70</FloorYOffset>
    <FloorTriangleOffset>0x68</FloorTriangleOffset>
    <WallTriangleOffset>0x60</WallTriangleOffset>
    <CeilingTriangleOffset>0x64</CeilingTriangleOffset>
    <HSpeedOffset>0x54</HSpeedOffset>
    <VSpeedOffset>0x4C</VSpeedOffset>
    <MarioStructSize>0xC4</MarioStructSize>
    <SlidingSpeedXOffset>0x58</SlidingSpeedXOffset>
    <SlidingSpeedZOffset>0x5C</SlidingSpeedZOffset>
    <SlidingYawOffset>0x38</SlidingYawOffset>
    <TwirlYawOffset>0x3A</TwirlYawOffset>
    <PeakHeightOffset>0xBC</PeakHeightOffset>
    <ObjectReferenceAddressUS>0x80361158</ObjectReferenceAddressUS>
    <ObjectReferenceAddressJP>0x8035FDE8</ObjectReferenceAddressJP>
    <ObjectAnimationOffset>0x38</ObjectAnimationOffset>
    <ObjectAnimationTimerOffset>0x40</ObjectAnimationTimerOffset>
    <HOLPXOffset>0x258</HOLPXOffset>
    <HOLPYOffset>0x25C</HOLPYOffset>
    <HOLPZOffset>0x260</HOLPZOffset>
    <WaterLevelOffset>0x76</WaterLevelOffset>
    <AreaPointerOffset>0x90</AreaPointerOffset>
  </Mario>
  <GotoRetrieve>
    <GotoAboveDefault>300</GotoAboveDefault>
    <GotoInfrontDefault>0</GotoInfrontDefault>
    <RetrieveAboveDefault>300</RetrieveAboveDefault>
    <RetrieveInfrontDefault>0</RetrieveInfrontDefault>
  </GotoRetrieve>
  <LevelAddressUS>0x8033B249</LevelAddressUS>
  <LevelAddressJP>0x80339ED9</LevelAddressJP>

  <AreaAddressUS>0x8033B24A</AreaAddressUS>
  <AreaAddressJP>0x80339EDA</AreaAddressJP>

  <LoadingPointAddressUS>0x8033BACA</LoadingPointAddressUS>
  <LoadingPointAddressJP>0x8033A75A</LoadingPointAddressJP>

  <MissionLayoutAddressUS>0x8033BAC8</MissionLayoutAddressUS>
  <MissionLayoutAddressJP>0x8033A758</MissionLayoutAddressJP>

  <LevelIndexAddressUS>0x8033BAC6</LevelIndexAddressUS>
  <LevelIndexAddressJP>0x8033A756</LevelIndexAddressJP>

  <WaterLevelMedianAddressUS>0x8036118A</WaterLevelMedianAddressUS>
  <WaterLevelMedianAddressJP>0x8035FE1A</WaterLevelMedianAddressJP>

  <WaterPointerAddressUS>0x80361184</WaterPointerAddressUS>
  <WaterPointerAddressJP>0x8035FE14</WaterPointerAddressJP>

  <GlobalTimerAddressUS>0x8032D5D4</GlobalTimerAddressUS>
  <GlobalTimerAddressJP>0x8032C694</GlobalTimerAddressJP>

  <RngAddressUS>0x8038EEE0</RngAddressUS>
  <RngAddressJP>0x8038EEE0</RngAddressJP>

  <AnimationTimerAddressUS>0x8032DF08</AnimationTimerAddressUS>
  <AnimationTimerAddressJP>0x8032CFA8</AnimationTimerAddressJP>

  <MusicOnAddressUS>0x80222618</MusicOnAddressUS>
  <MusicOnAddressJP>0x80222A18</MusicOnAddressJP>

  <MusicOnMask>0x20</MusicOnMask>

  <MusicVolumeAddressUS>0x80222630</MusicVolumeAddressUS>
  <MusicVolumeAddressJP>0x80222A30</MusicVolumeAddressJP>

  <CurrentFileAddressUS>0x8032DDF4</CurrentFileAddressUS>
  <CurrentFileAddressJP>0x8032CE94</CurrentFileAddressJP>

  <SpecialTripleJumpAddressUS>0x8032DD94</SpecialTripleJumpAddressUS>
  <SpecialTripleJumpAddressJP>0x8032CE34</SpecialTripleJumpAddressJP>

  <HackedAreaAddressUS>0x803E0000</HackedAreaAddressUS>
  <HackedAreaAddressJP>0x803E0000</HackedAreaAddressJP>
  <DebugAddress></DebugAddress>
  <DebugModeAddress></DebugModeAddress>
</Config>