<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Emulators>
    <Emulator name="Mupen 5.0 RR" processName="mupen64-rerecording" ramStart="0x008EBA80"/>
    <Emulator name="Nemu64 0.8" processName="Nemu64" ramStart="0x10020000"/>
    <Emulator name="BizHawk" processName="EmuHawk" offsetDll="mupen64plus.dll" ramStart="0x691C0"/>
  </Emulators>

  <!-- US, JP, or PAL -->
  <RomVersion>US</RomVersion>

  <RefreshRateFreq>30</RefreshRateFreq>
  <RamSize>0x400000</RamSize>
  <ObjectSlots>
    <FirstObjectAddressUS>0x8033D488</FirstObjectAddressUS>
    <FirstObjectAddressJP>0x8033C118</FirstObjectAddressJP>
    <ObjectStructSize>0x0260</ObjectStructSize>
    <HeaderOffset>0x00</HeaderOffset>
    <ListNextLinkOffset>0x08</ListNextLinkOffset>
    <ListPreviousLinkOffset>0x04</ListPreviousLinkOffset>
    <ParentOffset>0x68</ParentOffset>
    <UnusedSlotAddressUS>0x80360E88</UnusedSlotAddressUS>
    <UnusedSlotAddressJP>0x8035FB18</UnusedSlotAddressJP>
    <BehaviorScriptOffset>0x020C</BehaviorScriptOffset>
    <BehaviorGfxOffset>0x14</BehaviorGfxOffset>
    <BehaviorSubtypeOffset>0x0144</BehaviorSubtypeOffset>
    <BehaviorAppearance>0xF0</BehaviorAppearance>
    <ModelPointerOffset>0x218</ModelPointerOffset>
    <ObjectActiveOffset>0x74</ObjectActiveOffset>
    <TimerOffset>0x154</TimerOffset>
    <AnimationOffset>0x3C</AnimationOffset>
    <MarioGraphic>0x800F0860</MarioGraphic>

    <MarioBehavior>0x13002EC0</MarioBehavior>
    <DustSpawnerBehavior>0x130024AC</DustSpawnerBehavior>
    <DustBallBehavior>0x130024DC</DustBallBehavior>
    <DustBehavior>0x13002500</DustBehavior>

    <CoordinateOffsetX>0xA0</CoordinateOffsetX>
    <CoordinateOffsetY>0xA4</CoordinateOffsetY>
    <CoordinateOffsetZ>0xA8</CoordinateOffsetZ>

    <YSpeedOffset>0xB0</YSpeedOffset>
    <HSpeedOffset>0xB8</HSpeedOffset>

    <HomeOffsetX>0x164</HomeOffsetX>
    <HomeOffsetY>0x168</HomeOffsetY>
    <HomeOffsetZ>0x16C</HomeOffsetZ>
    <RotationOffset>0xD4</RotationOffset>

    <GraphicsOffsetX>0x20</GraphicsOffsetX>
    <GraphicsOffsetY>0x24</GraphicsOffsetY>
    <GraphicsOffsetZ>0x28</GraphicsOffsetZ>
    <GraphicsOffsetYaw>0x1C</GraphicsOffsetYaw>
    <GraphicsOffsetPitch>0x1A</GraphicsOffsetPitch>
    <GraphicsOffsetRoll>0x1E</GraphicsOffsetRoll>

    <MaxObjectSlots>240</MaxObjectSlots>
    <HitboxRadius>0x1f8</HitboxRadius>
    <HitboxHeight>0x1fc</HitboxHeight>
    <HitboxDownOffset>0x208</HitboxDownOffset>

    <YawFacingOffset>0xD6</YawFacingOffset>
    <PitchFacingOffset>0xD2</PitchFacingOffset>
    <RollFacingOffset>0xDA</RollFacingOffset>
    <YawMovingOffset>0xCA</YawMovingOffset>
    <PitchMovingOffset>0xC6</PitchMovingOffset>
    <RollMovingOffset>0xCE</RollMovingOffset>
    <ScaleWidthOffset>0x2C</ScaleWidthOffset>
    <ScaleHeightOffset>0x30</ScaleHeightOffset>
    <ScaleDepthOffset>0x34</ScaleDepthOffset>

    <ReleaseStatusOffset>0x1CC</ReleaseStatusOffset>
    <StackIndexOffset>0x1D0</StackIndexOffset>
    <StackIndexReleasedValue>0</StackIndexReleasedValue>
    <StackIndexUnReleasedValue>1</StackIndexUnReleasedValue>
    <InitialReleaseStatusOffset>0x1D4</InitialReleaseStatusOffset>
    <ReleaseStatusThrownValue>0x800EE5F8</ReleaseStatusThrownValue>
    <ReleaseStatusDroppedValue>0x800EE5F0</ReleaseStatusDroppedValue>
    <InteractionStatusOffset>0x134</InteractionStatusOffset>

    <PendulumAccelerationDirection>0xF4</PendulumAccelerationDirection>
    <PendulumAccelerationMagnitude>0x100</PendulumAccelerationMagnitude>
    <PendulumAngularVelocity>0xFC</PendulumAngularVelocity>
    <PendulumAngle>0xF8</PendulumAngle>

    <WaypointOffset>0x100</WaypointOffset>
    <PitchToWaypointOffset>0x10A</PitchToWaypointOffset>
    <RacingPenguinEffortOffset>0x110</RacingPenguinEffortOffset>
    <KoopaTheQuickHSpeedMultiplierOffset>0xF4</KoopaTheQuickHSpeedMultiplierOffset>

    <FlyGuyOscillationTimerOffset>0xF8</FlyGuyOscillationTimerOffset>

    <ScuttlebugTargetAngleOffset>0x162</ScuttlebugTargetAngleOffset>
  </ObjectSlots>
  <ObjectGroups>
    <ProcessNextLinkOffset>0x60</ProcessNextLinkOffset>
    <ProcessPreviousLinkOffset>0x64</ProcessPreviousLinkOffset>
    <ParentObjectOffset>0x68</ParentObjectOffset>
    <FirstObjectGroupingAddressUS>0x8033CBE0</FirstObjectGroupingAddressUS>
    <FirstObjectGroupingAddressJP>0x8033B870</FirstObjectGroupingAddressJP>
    <ProcessGroupStructSize>0x68</ProcessGroupStructSize>
    <ProcessGroupsOrdering>
      <Group index ="0x0B" color="#FF00A5"/>
      <Group index ="0x09" color="#FF0000"/>
      <Group index ="0x0A" color="#FF5400"/>
      <Group index ="0x00" color="#FFA100"/>
      <Group index ="0x05" color="#FFF600"/>
      <Group index ="0x04" color="#10FF00"/>
      <Group index ="0x02" color="#00FFE9"/>
      <Group index ="0x06" color="#0015FF"/>
      <Group index ="0x08" color="#8000FF"/>
      <Group index ="0x0C" color="#FF00FF"/>
    </ProcessGroupsOrdering>
    <VacantPointerAddressUS color="#AAAAAA">0x80361150</VacantPointerAddressUS>
    <VacantPointerAddressJP color="#AAAAAA">0x8035FDE0</VacantPointerAddressJP>
  </ObjectGroups>
  
  <DebugAddress></DebugAddress>
  <DebugModeAddress></DebugModeAddress>
</Config>